*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

/* @font-face {
    font-family: 'Gilroy';
    
    src: url(fonts/SVN-Gilroy\ Bold.otf) format('woff2');
  
  } */

  a{
      text-decoration: none;
      
  }
.container{
overflow: hidden;
width:100vw;
height:100vh;
}
.container .nav{
    height:44px;
    background: #00193A;
   
   
}
.container .nav .nav-wrap-widget{
    padding: 5px 20px ;
    display: flex;
    justify-content: space-between;
}
.container .nav .nav-wrap-widget .nav-ul .nav-li {
    padding-left: 20px ;
}
.container .nav .nav-wrap-widget .nav-ul .nav-li a ,
.container .nav .nav-wrap-widget .nav-ul .nav-li
{
    font-size: 12px;
    font-weight: 600;
}
.container .nav .nav-wrap-widget .nav-ul .nav-li a {
    color:#ffffff;
}
.container .nav .nav-wrap-widget .nav-ul .nav-li a .fas.fa-phone,
.container .nav .nav-wrap-widget .nav-ul .nav-li .fas.fa-envelope,
.container .nav .nav-wrap-widget .nav-ul .nav-li .far.fa-clock

{
    margin-right: 10px;
    color: #E22E2D;
}
.container .nav .nav-wrap-button .fas.fa-phone-square{
    margin-right: 6px;
}
.container .nav .nav-ul{
   padding-top: 5px;
    display:flex;
    list-style-type: none;
}
.container .nav .nav-wrap-button{
    padding:5px 20px;
    width:179px;
    height:34px;
    background: #E22E2D;
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    margin-right: 115px;
}
.container .nav .nav-wrap-button a{
    white-space: nowrap;
color:#ffff;
font-size: 13px;
}
.container .nav .nav-ul .nav-li{
    color:white;
}


.container .header{
    height:93px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
   
}

.container .header .header-logo{
    width:228px;
    height:100%;
    padding: 10px;
}
.container .header .header-logo .header-logo-image{
    width:208px;
    height:100%;
    object-fit: cover;
}
.container .header .header-ul{
    padding: 10px;
}
.container .header .header-ul .header-li{
    display: inline-block;
    line-height:70px ;
}
.container .header .header-ul .header-li .header-li-text{
    padding: 10px 20px;
    color:rgb(109, 106, 106);
    position: relative;
    font-weight: 600 ;
  
    
}

.container .header .header-ul .header-li .header-small-ul {
    position: absolute;
    display: none;
    background: #ffffff ;
    list-style-type: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.container .header .header-ul .header-li:nth-child(1):hover .header-small-ul{
    display:block;
}
.container .header .header-ul .header-li .header-small-ul .header-small-li{
    height:50px;
    line-height:45px !important;
}
.container .header .header-ul .header-li .header-small-ul .header-small-li:hover{
    background: #F40000;
    cursor: pointer;
    
}
.container .header .header-ul .header-li .header-small-ul .header-small-li:hover a{
   color:#ffffff; 
  

    
}
.container .header .header-ul .header-li .header-small-ul .header-small-li a{
   padding: 10px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    color:rgb(104, 100, 100);
    font-weight: 500;
}


.container .header .header-ul .header-li .header-li-text::after{
    content:"";
    position: absolute;
    background: rgb(226, 46, 45);
    height:1.8px;
    width:70px;
    left:2rem;
    bottom: 0px;
    animation: scale 0.3s ease-in-out  forwards;
    -webkit-animation: scale 0.3s ease-in-out  forwards;
    display: none;
}
.container .header .header-ul .header-li .header-li-text:hover::after{
   
    display:block;
    transition: all 0.3s cubic-bezier(0.58, 0.3, 0.005, 1) 0s;
}
@keyframes scale{
    0%{
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}
    100%{
        transform: scale(1.8);
        -webkit-transform: scale(1.8);
        -moz-transform: scale(1.8);
        -ms-transform: scale(1.8);
        -o-transform: scale(1.8);
}
}


.container .content{

    padding-top: 80px;
    padding-bottom: 10px;
    background-image: url(https://seodo.vn/wp-content/uploads/2019/03/Home-2-Banner-Background-1.jpg);
  
}
.container .content .content-wrap-intro .content-title{
width:50%;
height:413px;
color:#ffffff;

}
.container .content .content-wrap-intro .content-title .content-title-heading{
    padding-top: 50px;
}

.container  .content .content-wrap-intro{
    display: flex;
  
   
    margin-left: 99.5px;
    margin-right: 99.5px;
   
}

.container .content .content-wrap-intro .content-image{
    width:50%;
    height:400px;
   
}
.container .content .content-wrap-intro .content-image .content-image-intro{
    width:94%;
    height:100%;
    object-fit: contain;
}
.container .content .content-wrap-intro .content-title .content-title-heading{
    font-size: 2.4rem;
}
.container .content .content-wrap-intro .content-title .content-title-heading,
.container .content .content-wrap-intro .content-title .content-title-intro-seo
,
.container .content .content-wrap-intro .content-title  .content-title-income{
    margin-bottom: 20px;
}
.container .content .content-wrap-intro .content-title  .content-title-income{
    font-size: 130%;
    font-weight: 400;
}
.container .content .content-wrap-intro .content-title .content-title-intro-seo{
    font-size: 96%;
    font-weight: 400;
}

.container .content .content-wrap-intro .content-title  .button-link{
    width:160px;
    height:36px;
    background:#F40000;
    line-height: 36px;
    margin-top: 20px;

}
.container .content .content-wrap-intro .content-title  .button-link a{
    color:#ffffff;
    padding:17px 10px;
   
}
.container .content .content-wrap-intro .content-title  .button-link .fas.fa-phone-square{
    margin-right: 6px;
}

.container .footer{
    width:100%;
    bottom: 0;
    height:60px;
    position: fixed;
    background: #F40000;
    display:flex;
    justify-content: center;
   
}

.container .footer .footer-item{

    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

   cursor: pointer;
    background-color: hsla(0,0%,100%,.2);
    height:40px;
    z-index: -1;
    left:0;
    right:0;
    padding:0 10px;
    margin: 10px 4px;
  position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    line-height: 40px;
}
.container .footer .footer-item .footer-item-image{
    transition: opacity 1s ease 0s;
    opacity: 1;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    animation: tada 1.2s infinite;
    transition:all 0.24 ;
    -webkit-transition:all 0.24 ;
    -moz-transition:all 0.24 ;
    -ms-transition:all 0.24 ;
    -o-transition:all 0.24 ;
}


@keyframes tada{
    0%{
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
}
    10%, 20% {
        transform: scale3d(.9,.9,.9) rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.3,1.3,1.3) rotate(3deg);
    }
    40%, 60%, 80% {
        transform: scale3d(1.3,1.3,1.3) rotate(-3deg);
    }
    100% {
        transform: scaleX(1);
    }
}

.container .footer .footer-item .tool-tip{
   
    visibility: hidden;
    position: absolute;
    background:#232f34;
 bottom: 3.5rem;
 color:#ffffff;

width:150px;
height:120px;
padding: 12px 8px;


z-index: 1;
border-radius: 4px;
}
.container .footer .footer-item .tool-tip.tool-tip-first
{
    left:50px;
}
.container .footer .footer-item .tool-tip.tool-tip-last{
   right:-8px;
}

.container .footer .footer-item .tool-tip::before{
    content: "";
    position: absolute;

}
.container .footer .footer-item .tool-tip .tool-tip-text{
    font-size: 12px;
   line-height: 20px;
   text-align: center;
}

.container .footer .footer-item .tool-tip:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #232f34;
}
.container .footer .footer-item:hover .tool-tip{
    visibility: visible;
}